<div class="text-center">
  <img id="profile-picture" class="mx-auto rounded-full w-32 h-32 object-cover" src="" alt="Profile Picture">
  <h2 id="profile-name" class="text-xl font-semibold mt-4">ชื่อ</h2>
  <p id="profile-about" class="text-gray-600 mt-2">เกี่ยวกับ</p>

  <div class="mt-6 text-sm text-gray-500">
    <span id="followers"></span> · <span id="following"></span>
  </div>

  <!-- ลิงก์ Follow -->
  <div class="mt-6">
      <a href="https://nostrudel.ninja/#/u/npub1p7w6gyufuy3e6fnugvg9an7fyfes085qct2tp8sarctjwqdaqltsg47tzy" target="_blank" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600">Follow</a>
      <a href="https://github.com/khunjibna" target="_blank" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600">Github</a>
  </div>
  

  <!-- เส้นแบ่ง -->
  <hr class="my-6">

  <!-- ปุ่มเต็มขนาดสำหรับ 3 ลิงก์ -->
  <div class="space-y-4">
      <div class="font-bold">มินิเกม</div>
      <a href="https://tamachirs.com/app/random-character/" target="_blank" class="block bg-gray-800 text-white text-center py-3 rounded hover:bg-gray-600">คุณอยากพาใครไปป้ายยาส้มเพื่อนของคุณ?</a>
  </div>
</div>

